<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/script.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

    <link rel="stylesheet" href="../stylesheets/master.css">
    <link rel="stylesheet" href="../stylesheets/home.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
</head>

<body>

    <nav>
        <img src="images/logo.png" height="70" width="200">
        <button id="hamburgerButton">
            <i class="fas fa-bars"></i>
        </button>
        <ul id="navLinks">
            <li>
                <a href="/index" style="text-decoration: none">Home</a>
            </li>
            <li>
                <a href="/create" style="text-decoration: none">Create</a>
            </li>
            <li>
                <a href="/archive" style="text-decoration: none">Archive</a>
            </li>
            <li>
                <a href="/contact" style="text-decoration: none">Contact</a>
            </li>
            <li>
                <a href="/" style="padding: 0;">
                    <button class="signInButton">Sign out</button>
                </a>
            </li>
        </ul>
    </nav>


    <div class="container" style="margin-top: 100px">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">


                <!--Form with header-->

                <form action="mail.php" method="post">
                    <div class="card border-success rounded-0">
                        <div class="card-header p-0">
                            <div class="bg-success text-white text-center py-2">
                                <h3>
                                    <i class="fa fa-envelope"></i> Contact Me</h3>
                                <p class="m-0">To find out more about the blog or to give input.</p>
                            </div>
                        </div>
                        <div class="card-body p-3">

                            <!--Body-->
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-user text-info"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-envelope text-info"></i>
                                        </div>
                                    </div>
                                    <input type="email" class="form-control" id="nombre" name="email" placeholder="ridhaa@gmail.com" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-comment text-info"></i>
                                        </div>
                                    </div>
                                    <textarea class="form-control" placeholder="Your message to me..." required></textarea>
                                </div>
                            </div>

                            <div class="text-center">
                                <input type="submit" value="Send" class="btn btn-success btn-block rounded-0 py-2">
                            </div>
                        </div>

                    </div>
                </form>
                <!--Form with header-->


            </div>
        </div>
    </div>


    <footer style="position: absolute; bottom: 0">
        ©Copyright 2018. Made by Ridhaa Cupido
    </footer>
</body>

</html>