<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>


    </style>
</head>
<body>
<nav>
<logo  width="200"><img src="../images/logo.png" height="70" width="200"></logo>
<button id="hamburgerButton">
    <i class="fas fa-bars"></i>
</button>

<ul id="navLinks">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/create">Write</a>
    </li>
    <li>
        <a href="">Contact</a>
    </li>
</ul>
</nav>

<h1>Your post has successfully been added!</h1>


<a href="/">See your post</a>
<a href="/create">Create new post</a>

    
</body>
</html>>