<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="../javascripts/script.js"></script>
    <link rel="stylesheet" href="../stylesheets/master.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/view.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <style>
        * {
            color: #f4f4f4;
        }
    </style>
</head>

<body>
        <nav>
                <img src="../images/logo.png" height="70" width="200">
                <button id="hamburgerButton">
                    <i class="fas fa-bars"></i>
                </button>
                <ul id="navLinks">
                    <li>
                        <a href="/index" style="text-decoration: none">Home</a>
                    </li>
                    <li>
                        <a href="/create" style="text-decoration: none">Create</a>
                    </li>
                    <li>
                        <a href="/archive" style="text-decoration: none">Archive</a>
                    </li>
                    <li>
                        <a href="/contact" style="text-decoration: none">Contact</a>
                    </li>
                    <li>
                        <a href="/" style="padding: 0;">
                            <button class="signInButton">Sign out</button>
                        </a>
                    </li>
                </ul>
            </nav>

    <form method="POST">

        <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
            <label for="exampleInputName">Title</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Enter title name..."
                name="title" value="<%= posts.title %>">
            <!-- <small id=heroName" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
            <label for="exampleInputName">Author</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Name of author..."
                name="author" value="<%= posts.author %>">
            <!-- <small id=heroName" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
            <label for="exampleInputName">Content</label>
            <textarea id="summernote" name="content">
                <%= posts.content %>
            </textarea>
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote({
                        height: 150
                    });
                });
            </script>

        </div>

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary btn-block">Update post</button>
        </div>

    </form>

    <footer style="position: absolute; bottom: 0">
        ©Copyright 2018. Made by Ridhaa Cupido
    </footer>

</body>

</html>