.viewContainer *{
    margin-bottom:  5px;
    
}
button{
    padding: 5px 10px;
}
.viewContainer img{
    width: 100%;
}

@media screen and (min-width: 600px){
    .viewContainer{
        margin: 0 20%;
    }
   
}

